@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'vaud';
  src:url('../fonts/vaud/vaud_display_book.woff') format('woff');
}



*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

a.tooltip::before {
    content: attr(data-tip) ;

    font-size: 10px;
    position:absolute;
    z-index: 999;
    white-space:nowrap;
    bottom:9999px;
    left: 50%;
    background:#000;
    color:#e0e0e0;
    padding:0px 7px;
    line-height: 24px;
    height: 24px;

    opacity: 0;
    transition:opacity 0.4s ease-out;
    border-radius: 5px;
    }

a.tooltip:hover::before {
    opacity: 1;
    bottom:10px;
    left: 70%
    }


.metodologia img{
  max-width: 30%;
}

   .contenido img.clientes{
      width: 70%;
    }
/*contact form*/

.contact h1 {
  width: 100%;
  background: #00adef;
  padding: 20px;
  color: white;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05);
  border-radius: 3px 3px 0 0;
}

.contact form {
  font-family: 'roboto', sans-serif;
  width: 460px;
  margin: 100px auto 0;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  padding: 0 0 40px;
  border-radius: 3px;
  color: #555;
  background-color: #fff;
}

.contact input::-webkit-input-placeholder,
.contact textarea::-webkit-input-placeholder {
  font: inherit;
  -webkit-transition: -webkit-transform 0.3s ease-in-out, font-size 0.3s ease-in-out, visibility 0.3s ease-in-out;
          transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.contact input,
.contact textarea {
  font: inherit;
  font-size: 0.8em;
  margin: 28px 25px 10px;
  width: 400px;
  display: block;
  border: none;
  padding: 20px 0 10px;
  border-bottom: solid 1px #00adef;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #00adef 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #00adef 4%);
  background-position: -400px 0;
  background-size: 400px 100%;
  background-repeat: no-repeat;
  -webkit-transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
          transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  resize: none;
  overflow: hidden;
}
.contact input:focus::-webkit-input-placeholder,
.contact textarea:focus::-webkit-input-placeholder {
  color: #00adef;
}
.contact input:focus, .contact input:valid,
.contact textarea:focus,
.contact textarea:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}
.contact input:focus::-webkit-input-placeholder, .contact input:valid::-webkit-input-placeholder,
.contact textarea:focus::-webkit-input-placeholder,
.contact textarea:valid::-webkit-input-placeholder {
  font-size: 0.8em;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  visibility: visible !important;
  opacity: 1;
}

.contact input[type="email"] {
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #00adef 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #00adef 4%);
  background-position: -400px 0;
  background-repeat: no-repeat;
  -webkit-transition: border-bottom 0.3s ease, background 0.3s ease;
          transition: border-bottom 0.3s ease, background 0.3s ease;
}
.contact input[type="email"] ~  span.validation-text {
  position: absolute;
  visibility: hidden;
  font-family: 'roboto', sans-serif;
  font-size: 0.6em;
  width: 400px;
  margin-left: 25px;
  margin-top: -5px;
  color: white;
  -webkit-transition: color 0.3s ease-in-out;
          transition: color 0.3s ease-in-out;
}
.contact input[type="email"]:not([value=""])::-webkit-input-placeholder {
  font-size: 0.8em;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  visibility: visible !important;
  opacity: 1;
}
.contact input[type="email"]:not([value=""]):focus::-webkit-input-placeholder {
  color: #00adef;
}
.contact input[type="email"]:not([value=""]):focus:not(:valid)::-webkit-input-placeholder {
  color: #E91E63;
}
.contact input[type="email"]:focus {
  background-position: 0 0;
}
.contact input[type="email"]:focus:not(:valid):not([value=""]) {
  border-bottom: solid 1px #E91E63;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #E91E63 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #E91E63 4%);
}
.contact input[type="email"]:not(:focus):not(:valid):not([value=""]) {
  border-bottom: solid 1px #E91E63;
  background-position: 0 0;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #E91E63 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #E91E63 4%);
}
.contact input[type="email"]:not(:focus):not(:valid):not([value=""])::-webkit-input-placeholder {
  color: #E91E63;
}
.contact input[type="email"]:not(:focus):not(:valid):not([value=""]) ~ span.validation-text {
  visibility: visible;
  color: #E91E63;
}

.contact .flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.contact .flex textarea {
  line-height: 120%;
}

.contact button {
  font-family: 'roboto', sans-serif;
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), box-shadow 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
          transition: transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), box-shadow 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  border: none;
  background: #00adef;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px;
  width: 400px;
  color: white;
  margin: 30px 0 0 25px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}
.contact button:hover {
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
}

/*a {
  display: inline-block;
  width: 100%;
  margin-top: 50px;
  text-align: center;
  font-family: 'roboto', sans-serif;
  text-decoration: none;
  color: $base;
  i {
    margin-right: 5px;
  }
}*/
.contact a {
  width: 42px;
  height: 42px;
  border-radius: 50px;
  background: #00adef;
  display: inline-block;
  margin: 50px calc(50% - 21px);
  white-space: nowrap;
  padding: 13px;
  box-sizing: border-box;
  color: white;
  -webkit-transition: all 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
          transition: all 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  font-family: Roboto, sans-serif;
  text-decoration: none;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
}
.contact a i {
  margin-right: 20px;
  -webkit-transition: margin-right 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
          transition: margin-right 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
}
.contact a:hover {
  width: 134px;
  -webkit-transform: translateX(-50px);
      -ms-transform: translateX(-50px);
          transform: translateX(-50px);
}
.contact a:hover i {
  margin-right: 10px;
}




/*volume controls*/
.sound-controls{
  position: absolute;
  cursor: pointer;
  z-index: 999;
  color: #fff;
  font-size: 28px;
  left: 0.5em;
  bottom: 0.5em;

}
.sound-off:before{
  display: none;
}

.sound-controls li:before{
  color: #fff;

}


.pajaroContainer img{
  display: block;
  margin:0 auto;
  max-width: 90%;
  max-height: 90%;
}


span.pajaroContainer {
  position: fixed;
  width: 180px;
  height: 180px;
  right: 0;
  z-index: 100;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.3);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  margin: 0.5em;
  display: flex;
  align-items: center;
}


.morph-shape {
  position: absolute;
  width: 240px;
  height: 100%;
  top: 0;
  right: 0;
}

.morph-shape svg path {
  stroke: #fff;
  stroke-width: 5px;
}

.section.video{
  display: flex;
  align-items: center;
}

.section.video img{
  width: 200px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.contenido{
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  color: white;
  margin: 0 auto;
  text-align: center;
  font-size: 1.2vw;
}

.contenido h1{
  font-family:  'vaud';
  margin: 0 auto;
  font-size: 60px;

}

.contenido p{

  margin-bottom: 2em;
  font-style: italic;
  max-width: 60%;

}

.contenido video{
  max-height: 30vh;
}

.contenido ul li{
  text-align: left;
}

.contenido img{
  width: 60%;
  transition: all 0.1s ease;
  margin: 1.5em auto;
}

.contenido img:hover {
    /* Un-prefixed. Prefix `transform` for all target browsers. */
   /* transform: scale(1.1);*/
    }


.contenido .metodologia{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
}

.contenido .metodologia p{
  width: 40%;
  text-align: left;
  margin: 2em;
}

.contenido.procesos p{
  text-align: left;
  width: 80%;
}


.contenido .exito{
  display: flex;
  flex-direction: row;
}

.contenido .exito article{
  margin: 1em;
}

.lenguajes{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: cencer;
  position: fixed;
  top: 200px;
  right: 40px;
  z-index: 200;
  font-family: 'vaud';
  font-weight: bold;
}

.lenguajes span{
  color: #fff;
}

.lenguajes span a{
  text-decoration: none;
  color: #fff;
}






/* To Navigation Style */
.codrops-links {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.25em;
}

.codrops-links a {
  display: inline-block;
  padding: 0.5em 0;
  margin: 0.5em;
  text-decoration: none;
  letter-spacing: 1px;
}

.codrops-icon span {
  display: none;
}

.codrops-icon:before {
  margin: 0 4px;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: 'codropsicons';
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
  content: "\e001";
}

.codrops-icon-prev:before {
  content: "\e004";
}

/* Codrops demo links */
.codrops-demos {
  margin: 3em auto;
  max-width: 700px;
}

.codrops-demos a {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0.25em 0;
  margin: 5px 10px;
  display: inline-block;
  font-size: 0.85em;
}

.codrops-demos a.current-demo {
  opacity: 0.5;
}

/* Related demos */
.related {
  text-align: center;
  padding: 10em 0;
  clear: both;
  font-weight: bold;
}

.related > a {
  width: 200px;
  display: inline-block;
  text-align: center;
  margin: 1em;
  font-size: 0.8em;
  vertical-align: top;
}

.related a img {
  max-width: 100%;
  opacity: 0.8;
}

.related a:hover img,
.related a:active img {
  opacity: 1;
}

.related a h3 {
  margin: 0;
  font-size: ;
  padding: 0.5em 0 0.3em;
  max-width: 200px;
  text-align: left;
}

@media screen and (max-width: 30em) {
  .codrops-header h1 {
    font-size: 3em;
  }
}


.menu {
  position: fixed;
  width: 300px;
  top: 3em;
  bottom: 3em;
  left: 0;
  z-index: 100;
  overflow: hidden;
  -webkit-transform: translate3d(-150px, 0, 0);
  transform: translate3d(-150px, 0, 0);
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
}

.menu.menu--open {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.main {
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.menu.menu--open + .main {
  opacity: 0.3;
  pointer-events: none;
}

.menu__inner {
  width: calc(100% + 25px);
  padding: 0 140px 2em 0;
  overflow-y: auto;
  height: 100%;
  position: relative;
  z-index: 100;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  margin: 0 0 2em 0;
  -webkit-transform: translate3d(-150px, 0, 0);
  transform: translate3d(-150px, 0, 0);
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu.menu--anim ul li {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.menu ul li:first-child {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.menu ul li:nth-child(2) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.menu ul li:nth-child(3) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.menu ul li a {
  display: block;
  outline: none;
  text-decoration: none;
}

.menu ul li .fa {
  font-size: 2.5em;
  display: block;
  margin: 0 auto;
  color: #fff;
}

.menu ul li span {
  font-weight: bold;
  font-size: 0.75em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.menu__handle {
  background: transparent;
  border: none;
  width: 30px;
  height: 24px;
  padding: 0;
  outline: none;
  position: absolute;
  top: 3px;
  right: 70px;
  z-index: 2000;
}

.menu__handle::before,
.menu__handle::after,
.menu__handle span {
  background: #fff;
}

.menu__handle::before,
.menu__handle::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  top: 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
}

.menu__handle span {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  overflow: hidden;
  text-indent: 200%;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.menu__handle::before {
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
}

.menu__handle::after {
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
}

.menu--open .menu__handle span {
  opacity: 0;
}

.menu--open .menu__handle::before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}

.menu--open .menu__handle::after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}

.morph-shape {
  position: absolute;
  width: 240px;
  height: 100%;
  top: 0;
  right: 0;
}

.morph-shape svg path {
  stroke: #fff;
  stroke-width: 5px;
}

@media screen and (max-width: 63em) {
  .main {
    padding: 0 2em;
    -webkit-transition: opacity 0.6s;
    transition: opacity 0.6s;
  }

  .menu {
    -webkit-transform: translate3d(-170px, 0, 0);
    transform: translate3d(-170px, 0, 0);
  }

  .menu.menu--open + .main {
    opacity: 0.05;
  }
}

.fp-controlArrow.fp-prev{
  left: 10%;
}
.fp-controlArrow.fp-next{
  right: 10%;
}
